body{
    background-color: #f8f8f8;
}
.italic-letter{
    font-size: 2.8rem;
    font-family: 'Lato', sans-serif;
    color: #000000;
    line-height: 2.4rem;
}
.italic-letter span{
    font-size: 4rem;
    font-family: 'Italianno', cursive;
    color: #e082a8;
}
/** Sociales **/
.social-icons ul {
    list-style: none;
    margin:0;
    padding:0;
}
.social-icons ul li {
    position: relative;
    display: inline-block;
}
.social-icons ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    color: #e082a8;
}
.social-icons ul li a[href*="facebook.com"]::before{
    content: '\f230';
}
.social-icons ul li a[href*="twitter.com"]::before{
    content: '\f081';
}
.social-icons ul li a[href*="instagram.com"]::before{
    content: '\f16d';
}
.social-icons ul li a[href*="pinterest.com"]::before{
    content: '\f0d2';
}
.social-icons ul li a[href*="youtube.com"]::before{
    content: '\f16a';
}

/* Navigation Menu */
.navigation{
    background-color: #44f0b6;
    margin: 0 -15px;
}

.navbar-light .navbar-toggler{
    background-color: #ffffff;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    color: #ffffff;
}
.main-nav{
    background-image: url(../img/border_horizontal.png), url(../img/border_horizontal.png);
    background-repeat: repeat-x;
    background-position: 0 top, 0 bottom;
}
.nav-link{
    color: #ffffff;
    font-size: 1.4rem;
    transition: background-color .3s ease-in-out;
    font-family: 'Raleway', sans-serif;
}
.nav-link:hover{
    background-color: #27b390;
    color: #ffffff;
}

/* Carousel */
.carousel-caption h3{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

/* Website Section */
.welcome-frase p{
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.6rem;
}

/* Services Front Page */
.service img{
    border: .5rem solid #ffffff;
    -webkit-transition: transform .3s ease;
    -ms-transition:  transform .3s ease;
    transition: transform .3s ease;

}
.service img:hover{
    -webkit-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    transform: scale(1.2) rotate(10deg);
}
.service-info{
    background-color: #ffffff;
    margin-top: -5rem;
}
.service-info .btn-primary{
    border-radius: 0;
    background-color: #e082a8;
    border:none;
}